---
layout: layouts/home.njk
templateClass: tmpl-post
---

<h1>{{ title }}</h1>

{{ content | safe }}

{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- if nextPost %}<p class="post-nav">Next Post:</p> <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>{% endif %}<br>
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{%- if previousPost %}<p class="post-nav">Previous Post:</p> <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>{% endif %}
