/* fonts */
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("/fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/roboto-v20-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("/fonts/open-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/open-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/open-sans-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/open-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/open-sans-v17-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* inconsolata-regular - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inconsolata-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Inconsolata"),
    url("/fonts/inconsolata-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inconsolata-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inconsolata-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inconsolata-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/inconsolata-v20-latin-regular.svg#Inconsolata") format("svg"); /* Legacy iOS */
}

/* general */
:root {
  /* colors */
  --grey: #bdbdbd;
  --darkgrey: #202020;
  --lightgrey: #2c2c2c;
  --orange: #d99962;
  --white: #fefefe;
  --lightblue: #14b4cc;

  /* fonts */
  --titlefont: "Roboto", "serif";
  --textfont: "Open Sans", "sans-serif";
  --codefont: "Inconsolata", "Consolas", "monospace";

  /* font sizes */
  --bigheadingsize: 3.2em;
  --subtextsize: 1.3em;

  /* measurements */
  --pagemaxwidth: 800px;
  --generalmargin: 40px;
}
@media only screen and (max-width: 600px) {
  :root {
    --generalmargin: 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--textfont);
  color: var(--white);
  background-color: var(--lightgrey);
}

footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}
footer p {
  align-self: center;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titlefont);
  color: var(--oranage);
}

/* navigation bar */
.nav-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--darkgrey);
  font-family: var(--titlefont);
}
.nav-bar * {
  color: var(--orange);
}
.nav-content {
  display: flex;
  justify-content: space-between;
  width: var(--pagemaxwidth);
  margin: 0 var(--generalmargin);
}
.nav-content div {
  margin: 10px 0;
}

.home {
  font-size: 1.4em;
}
.nav-right,
.nav-left {
  display: flex;
  align-self: center;
  list-style: none;
  margin-left: 1em;
}
.nav-item {
  font-size: 1.2em;
  margin-right: 1em;
  align-self: center;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-page-buttons {
  display: flex;
  flex-direction: row;
}
.svg-icons {
  display: flex;
  margin-right: 20px !important;
}
.svg-icon {
  margin-right: 10px;
  filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(229deg) brightness(101%)
    contrast(86%);
  width: 20px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .nav-content {
    display: flex;
    flex-direction: column;
    width: var(--pagemaxwidth);
  }
  .nav-right {
    display: flex;
    align-self: center;
    list-style: none;
    margin: 0 !important;
  }
  .svg-icons {
    display: flex;
    margin-right: 0 !important;
  }
  .svg-icon {
    margin-right: 20px;
    width: 25px;
    height: auto;
  }
}

/* page */
.page {
  display: flex;
  justify-content: center;
  width: 100%;
}
.page-content {
  width: var(--pagemaxwidth);
  align-self: center;
  margin: 0 var(--generalmargin);
  margin-top: 60px;
}

/* elements */
.main-page-heading {
  font-size: var(--bigheadingsize);
  margin: 0;
}
.main-page-subtext {
  font-size: var(--subtextsize);
  color: var(--grey);
}
.section {
  margin-bottom: 60px;
}
.section-heading {
  color: var(--orange);
  font-size: 2em;
}
.card {
  background-color: var(--darkgrey);
  margin: 15px 0;
  padding: 20px;
  display: flex;
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 13px 4px rgba(32, 32, 32, 1);
  -moz-box-shadow: 0px 0px 13px 4px rgba(32, 32, 32, 1);
  box-shadow: 0px 0px 13px 4px rgba(32, 32, 32, 1);
  transition: all 0.2s;
}
.card-list {
  width: 100%;
}
.card-item {
  counter-increment: start-from -1;
  color: var(--darkgrey);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card-item a * {
  margin-bottom: 10px;
}
.card-item a *:last-child {
  margin-bottom: 0;
}
.card-subtext {
  color: var(--grey);
  font-size: 1em;
}
.card-title {
  font-size: 1.6em;
}
.small-margin {
  margin-bottom: 20px;
}
/* posts */
.tmpl-post * {
  margin-bottom: 20px;
}
.tmpl-post a {
  color: var(--lightblue);
}
.tmpl-post h2,
h3,
h4,
h5,
h6 {
  color: var(--orange);
}
.tmpl-post h1 {
  font-size: var(--bigheadingsize);
  margin-bottom: 20px;
}
.tmpl-post .direct-link {
  color: var(--grey);
}
.tmpl-post img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 13px 4px rgba(32, 32, 32, 1);
  -moz-box-shadow: 0px 0px 13px 4px rgba(32, 32, 32, 1);
  box-shadow: 0px 0px 13px 4px rgba(32, 32, 32, 1);
}
.tmpl-post li {
  margin: 0;
  margin-bottom: 10px;
}
.tmpl-post ul {
  margin: 20px 20px;
}

.post-nav {
  display: inline-block;
  margin: 0;
  color: var(--orange);
}

/* tags */
.card-tags {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.card-tag {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 0.8em;
  padding: 5px;
  margin-right: 10px;
  border: 3px solid var(--grey); /* 3px /12 */
  border-radius: 4px; /* 3px /12 */
  margin-bottom: 10px;
}
