---
layout: layouts/home.njk
eleventyExcludeFromCollections: true
---

<h1>Latest 3 Posts</h1>

{% set postslist = collections.blog | head(-3) %}
{% set postslistCounter = collections.blog | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the archive</a>.</p>
